body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
    background-image: url("../images/background.jpg");
}

.form-create-account {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-create-account .form-signin-heading,
.form-create-account .checkbox {
    margin-bottom: 10px;
}

.form-create-account .checkbox {
    font-weight: normal;
}

. .form-controform-create-accountl {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-create-account .form-control:focus {
    z-index: 2;
}

.form-create-account input[type="userName"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-create-account input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
